<h1>Show kitten</h1>

<div>
  <h1>Name: <%= @kitten.name %></h1>
  <p>Age: <%= @kitten.age %></p>
  <p>Cuteness: <%= @kitten.cuteness %></p>
  <p>Softness: <%= @kitten.softness %></p>
    <%= link_to "List all", kittens_path %>
    <%= link_to "Edit", edit_kitten_path(@kitten) %>
    <%= link_to "Delete", kitten_path(@kitten), data: {
        turbo_method: :delete} %>
</div>
